name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Lint
        run: |
          pnpm run lint

  build-test:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Setup emsdk
        uses: pyodide/setup-emsdk@v15
        with:
          version: 4.0.16
          actions-cache-folder: 'emsdk-cache'

      - name: Install
        run: pnpm install

      - name: Build
        run: |
          pnpm run build:unpack

  typecheck:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Setup emsdk
        uses: pyodide/setup-emsdk@v15
        with:
          version: 4.0.16
          actions-cache-folder: 'emsdk-cache'

      - name: Install
        run: pnpm install

      - name: Build
        run: |
          pnpm run build

      - name: Typecheck
        run: pnpm run typecheck
